-i https://pypi.org/simple
absl-py==2.1.0; python_version >= '3.7'
chex==0.1.85; python_version >= '3.9'
colorama==0.4.6; platform_system == 'Windows' and python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
etils[epath,epy]==1.6.0; python_version >= '3.10'
flax==0.7.5; python_version >= '3.9'
fsspec==2023.12.2
importlib-resources==6.1.1
jax==0.4.23; python_version >= '3.9'
jaxlib==0.4.23; python_version >= '3.9'
jaxopt==0.8.3
joblib==1.3.2; python_version >= '3.7'
markdown-it-py==3.0.0; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
ml-dtypes==0.3.2; python_version >= '3.9'
msgpack==1.0.7; python_version >= '3.8'
nest-asyncio==1.6.0; python_version >= '3.5'
numpy==1.26.3; python_version >= '3.9'
opt-einsum==3.3.0; python_version >= '3.5'
optax==0.1.8; python_version >= '3.8'
orbax-checkpoint==0.5.3; python_version >= '3.9'
protobuf==4.25.2; python_version >= '3.8'
pygments==2.17.2; python_version >= '3.7'
pyyaml==6.0.1; python_version >= '3.6'
rich==13.7.0; python_full_version >= '3.7.0'
scikit-learn==1.4.0; python_version >= '3.9'
scipy==1.12.0; python_version >= '3.9'
tensorstore==0.1.52; python_version >= '3.9'
threadpoolctl==3.2.0; python_version >= '3.8'
toolz==0.12.0; python_version >= '3.5'
tqdm==4.66.1; python_version >= '3.7'
typing-extensions==4.9.0; python_version >= '3.8'
zipp==3.17.0; python_version >= '3.8'
contourpy==1.2.0; python_version >= '3.9'
coverage[toml]==7.4.1; python_version >= '3.8'
cycler==0.12.1; python_version >= '3.8'
exceptiongroup==1.2.0; python_version < '3.11'
fonttools==4.47.2; python_version >= '3.8'
imageio==2.33.1; python_version >= '3.8'
iniconfig==2.0.0; python_version >= '3.7'
kiwisolver==1.4.5; python_version >= '3.7'
matplotlib==3.8.2; python_version >= '3.9'
opencv-python==4.9.0.80; python_version >= '3.6'
packaging==23.2; python_version >= '3.7'
pillow==10.2.0; python_version >= '3.8'
pluggy==1.4.0; python_version >= '3.8'
pyparsing==3.1.1; python_full_version >= '3.6.8'
pyqt5==5.15.10; python_version >= '3.7'
pyqt5-qt5==5.15.2
pyqt5-sip==12.13.0; python_version >= '3.7'
pytest==7.4.4; python_version >= '3.7'
pytest-cov==4.1.0; python_version >= '3.7'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
tomli==2.0.1
