name: Build Documentation

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

permissions:
  contents: read

jobs:
  build:
    name: Build documentation
    runs-on: ubuntu-latest
    env:
      # Disable implicitly syncing before running - we run an explicit sync first.
      UV_NO_SYNC: true
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - name: Set up uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b  # v7.3.0
        with:
          version: "latest"
          python-version: 3.13
          enable-cache: true
          cache-suffix: "docs"
      - name: Install documentation dependencies
        run: uv sync --group doc --no-dev --locked
      - name: Debug - uv pip freeze
        run: uv pip freeze
      - name: Build documentation
        run: |
          uv run -m sphinx -b html -aE -n -W --keep-going documentation/source documentation/build
      - name: Check external links
        run: |
          uv run -m sphinx -b linkcheck documentation/source documentation/build
