name: Pre-commit Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

permissions:
  contents: read

jobs:
  pre_commit:
    runs-on: ubuntu-latest
    env:
      # Disable implicitly syncing before running - we run an explicit sync first.
      UV_NO_SYNC: true
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - name: Set up uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b  # v7.3.0
        with:
          version: "latest"
          python-version: 3.14
          enable-cache: true
          cache-suffix: "pre-commit"
      - name: Install development dependencies
        run: uv sync --dev --locked
      - name: Debug - uv pip freeze
        run: uv pip freeze
      - name: Remove fail_fast from Pre-commit config
        run: sed -e "/fail_fast/d" .pre-commit-config.yaml > /tmp/.pre-commit-config-ci.yaml
      - name: Run Pre-commit checks
        run: SKIP=no-commit-to-branch uv run pre-commit run --all-files --show-diff-on-failure --config /tmp/.pre-commit-config-ci.yaml
