name: Tests

on:
  push:
    branches:
      - main
    paths:
      - 'benchmark/**/*.py'
      - 'coreax/**/*.py'
      - 'examples/**/*.py'
      - 'tests/**/*.py'
      - 'uv.lock'
      - 'pyproject.toml'

  pull_request:
    branches:
      - "**"
    paths:
      - 'benchmark/**/*.py'
      - 'coreax/**/*.py'
      - 'examples/**/*.py'
      - 'tests/**/*.py'
      - 'uv.lock'
      - 'pyproject.toml'

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        resolution-strategy:
          - "highest"
          - "lowest"
    runs-on: ${{ matrix.os }}
    env:
      # Disable implicitly syncing before running - we run an explicit sync first.
      UV_NO_SYNC: true
      # Interaction is not required here - use static backend for speed and reliability.
      # https://matplotlib.org/stable/users/explain/figure/backends.html#static-backends
      MPLBACKEND: Agg
    steps:
    - uses: actions/checkout@v6
    - name: Set up uv
      uses: astral-sh/setup-uv@v7
      with:
        version: "latest"
        python-version: ${{ matrix.python-version }}
        resolution-strategy: ${{ matrix.resolution-strategy }}
        enable-cache: true
        cache-suffix: ${{ matrix.resolution-strategy }}
    - name: Install test dependencies
      run: uv sync --group test --no-dev --locked
    - name: Debug - uv pip freeze
      run: uv pip freeze
    - name: Test with pytest
      run: uv run pytest --ignore=tests/integration -n auto --dist worksteal
    # Integration tests are slow, so only run if all other tests pass.
    # To reduce memory consumption, don't use parallel pytest for these tests.
    - name: Test integration tests
      run: uv run pytest tests/integration
